<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    title :   {{books[1]}}<br>
    Author : {{books[2]}} <br>

    <form class="" action="purchased/addreview" method="post">
      <input type="hidden" name="book_id" value="{{books[0]}}">
      <textarea  name="publicreview" placeholder="Details"></textarea> <br>
      <button type="submit" name="addpublicreview" value ="{{books[0]}}">Add Public Review </button> <br><br>
    </form>



  </body>
</html>
