<html>
   <head>
      <title>Book Stores</title>

      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="{{ url_for('static' , filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons

  <link href="{{url_for('static' , filename = 'css/flexslider.css')}}" rel="stylesheet" type="text/css" media="all">
     -->


      <link href="{{url_for('static' , filename = 'css/fontawesome-all.min.css')}}" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!-- For Clients slider -->
      <link rel="stylesheet"href="{{url_for('static' , filename = 'css/flexslider.css')}}" type="text/css" media="all" />
      <!--flexs slider-->
      <link href="css/JiSlider.css" rel="stylesheet">
      <!--Shoping cart-->
      <link rel="stylesheet" href="css/shop.css" type="text/css" />
      <!--//Shoping cart-->
      <!--stylesheets-->
      <link href="{{url_for('static' , filename = 'css/style.css')}}" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
      <script type="text/javascript">
          /*function degsin(){
         var f = document.createElement("form");
         f.setAttribute('name' , 'searchform');
         f.setAttribute('method',"get");
         f.setAttribute('action',"rest");

         var i = document.createElement("input"); //input element, text
         i.setAttribute('type',"text");
         i.setAttribute('name',"search");
         i.setAttribute('id' , 'search');
         i.setAttribute('onkeyup' , 'callserver()');
         f.appendChild(i);
         var p = document.createElement("p");
         p.setAttribute('id','demo');
         document.getElementsByTagName('body')[0].appendChild(f);
         document.getElementsByTagName('body')[0].appendChild(p)
       } */

       function warning(){
         var war = document.getElementById("asd");
         if(confirm("Please Login , You will find related books\nPress Cancle to check books")){
           console.log("login");
           location.href = "/google";
         }else {
           console.log("Continue");
           location.href = "/asd";
         }
         console.log("Warning function called");
       }

         function callserver(){
           var key = document.getElementById("search").value ;
           console.log(key);
           if(key.length == 0)
           document.getElementById("demo").innerHTML = "";
           if(key.length < 2)
           return;
           var url = 'http://127.0.0.1:5000/search';
           var xhttp = new XMLHttpRequest();
           xhttp.onreadystatechange = function() {
           if (this.readyState == 4 && this.status == 200) {
              var js = JSON.parse(this.responseText);
             if(js.length < 1 ){
             document.getElementById("demo").innerHTML = "No Results Found";
             return;
           }
             var print ="";
             for(var i = 0 ; i < js.length ; i++){
            //  js[i] = js[i].replace(',' , ' - ');
             var res = js[i].toString();
             res= res.replace(",", " = ");
             var link = res.substring(0 , res.indexOf('='));
             link = 'bookDetails?book='+link.replace(' ' , '+');
              print += '<li><a href='+link+'> ' + res + ' </a></li> ' ;
            }
             document.getElementById("demo").innerHTML = "<center>"+print+"</center>";

           }
         };
         xhttp.open("GET",  url + "?search="+key  , true);
         xhttp.send();
         }
         </script>
         <style type = 'text/css' media="screen">

         #demo {
           list-style-type: none;
           padding: 0;
           margin: 0;
         }
#demo li a {
border: 1px solid #ddd;
margin-top: -1px; /* Prevent double borders */
background-color: #f6f6f6;
padding: 12px;
text-decoration: none;
font-size: 18px;
color: black;
display: block
}

#demo li a:hover:not(.header) {
background-color: #eee;
}
</style>
<style type="text/css">
   img:hover {
     height: 20px ;
     width: 45px ;
       cursor: pointer;
   }
   input[type=submit] {
       display: none;
   }
</style>
   </head>
   <body onload="degsin()">
      <div class="header-outs" id="home">
         <div class="header-bar">
<!--
            <div class="container-fluid">
               <div class="hedder-up row">
                  <!-- <div class="col-lg-3 col-md-3 logo-head">
                     <h1><a class="navbar-brand" href="index.html">Book Store</a></h1>
                  </div> -->
                  <!-- <div class="col-lg-5 col-md-6 search-right">
                     <form class="form-inline my-lg-0">
                        <input class="form-control mr-sm-2" type="search" id = "search" onkeyup="callserver()" placeholder="Search">
                        <button class="btn" type="submit">Search</button>
                     </form>
                  </div>

                  <div class="col-lg-4 col-md-3 right-side-cart">
                     <div class="cart-icons">
                        <form class="" action="google" >
                           <input type="submit" name="GOOGLE LOGIN" value="GOOGLE LOGIN">
                         </form>
                     </div>
                  </div>

               </div>
            </div> -->




            <nav class="navbar navbar-expand-lg navbar-light" style="height:50px">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" >
                 <div class="col-lg-3 col-md-3 logo-head">
                    <h1><a class="navbar-brand" href="/" style="position: relative;right:165px;"><span style="color:black">Book Store</span></a></h1>
                 </div>
                  <ul class="navbar-nav ">

                     <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                     </li>
                  
                     <li class="nav-item">
                        <a href="#" id = "asd" onclick="warning()" class="nav-link">Shop Now</a>
                     </li>


                     <li class="nav-item">
                       <form class="" action="google" >
                         <label for="img">
   <input type="submit"  name="submit" id="img" value="img-btn">
   <img src="{{url_for('static',filename='sign.png')}}" style="height:40px;width:150px;" id="img">
</label>
                          <!-- <input type="submit" name="GOOGLE LOGIN"  class="nav-link" value="GOOGLE LOGIN" style="border:0px;background-color:transparent"> -->

                        </form>
                         </li>

                  </ul>
               </div>

            </nav>
            <br>
            <center><div class="col-lg-5 col-md-6 search-right">
               <form action='result' class="form-inline my-lg-0">
                  <input class="form-control mr-sm-2" type="search" id = "search" name="key" onkeyup="callserver()" style="height:50px;" placeholder="Search">
                  <button class="btn" type="submit" style="border-radius:0px 25px 25px 0px;height:50px">Search</button>
                  <center>  <ul class="form-control mr-sm-2"  id = "demo" style="z-index:2;width:500px"></center>
                    </ul>
               </form>
            </div></center>
         </div>


         <!-- Slideshow 4 -->
         <div class="slider text-center">
            <div class="callbacks_container">


               <ul class="rslides" id="slider4">
                  <li>

                     <div class="slider-img one-img">
                        <div class="container">
                           <div class="slider-info ">
                              <h5>Pick The Best Book Here!</h5>
                              <div class="bottom-info">
                                 <p>book book book</p>
                              </div>
                              <div class="outs_more-buttn">
                                 <a href="about.html">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>

                     <div class="slider-img two-img">
                        <div class="container">
                           <div class="slider-info ">
                              <h5>Find the best and prescribed book<br>For yourself</h5>
                              <div class="bottom-info">
                                 <p>book book</p>
                              </div>
                              <div class="outs_more-buttn">
                                 <a href="about.html">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="slider-img three-img">
                        <div class="container">
                           <div class="slider-info">
                              <h5>100's of books<br> to choose from</h5>
                              <div class="bottom-info">
                                 <p>book book</p>
                              </div>
                              <div class="outs_more-buttn">
                                 <a href="about.html">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <!-- This is here just to demonstrate the callbacks -->
            <!-- <ul class="events">
               <li>Example 4 callback events</li>
               </ul>-->
            <div class="clearfix"></div>
         </div>
      </div>
      <!-- //banner -->

      <!--//Product-view-->

      <!--Product-about-->
      <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Books</h3>
            <div class="about-products-w3layouts">
               <p>These books are the prescribed one's
                  suitable to study for your tests and exams
               </p>
               <p class="my-lg-4 my-md-3 my-3">You can find your prescribed books
                  and get them for the best price
               </p>
               <p>easy to Buy/Sell the books
               </p>
            </div>
         </div>
      </section>
      <!--//Product-about-->

      <!-- footer -->
      <footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
         <div class="copy-agile-right">
            <p>
               ©
            </p>
         </div>
      </footer>
      <!-- //footer -->

      <!--js working-->
      <script src="{{url_for('static' , filename = 'js/jquery-2.2.3.min.js')}}"></script>
      <!--//js working-->
      <!-- cart-js -->
      <script src="{{url_for('static' , filename = 'js/minicart.js')}}"></script>
      <script>
         toys.render();

         toys.cart.on('toys_checkout', function (evt) {
         	var items, len, i;

         	if (this.subtotal() > 0) {
         		items = this.items();

         		for (i = 0, len = items.length; i < len; i++) {}
         	}
         });
      </script>
      <!-- //cart-js -->
      <!--responsiveslides banner-->
      <script src="{{url_for('static' , filename = 'js/responsiveslides.min.js')}}"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
         	// Slideshow 4
         	$("#slider4").responsiveSlides({
         		auto: true,
         		pager:false,
         		nav:true ,
         		speed: 900,
         		namespace: "callbacks",
         		before: function () {
         			$('.events').append("<li>before event fired.</li>");
         		},
         		after: function () {
         			$('.events').append("<li>after event fired.</li>");
         		}
         	});

         });
      </script>
      <!--// responsiveslides banner-->
      <!--slider flexisel -->
      <script src="{{url_for('static' , filename = 'js/jquery.flexisel.js')}}"></script>
      <script>
         $(window).load(function() {
         	$("#flexiselDemo1").flexisel({
         		visibleItems: 3,
         		animationSpeed: 3000,
         		autoPlay:true,
         		autoPlaySpeed: 2000,
         		pauseOnHover: true,
         		enableResponsiveBreakpoints: true,
         		responsiveBreakpoints: {
         			portrait: {
         				changePoint:480,
         				visibleItems: 1
         			},
         			landscape: {
         				changePoint:640,
         				visibleItems:2
         			},
         			tablet: {
         				changePoint:768,
         				visibleItems: 2
         			}
         		}
         	});

         });
      </script>
      <!-- //slider flexisel -->
      <!-- start-smoth-scrolling -->
      <script src="{{url_for('static' , filename = 'js/move-top.js')}}"></script>
      <script src="{{url_for('static' , filename = 'js/easing.js')}}"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {

         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});

         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="{{url_for('static' , filename = 'js/bootstrap.min.js')}}"></script>
      <!-- //bootstrap working-->
   </body>
</html>
