<form class="" action="" method="post">
  Full Name : <input type="text" name="name" value=""><br> <br>
<!--  Branch : <input type="text" name="branch" value=""><br><br> -->
  Branch :  <select name="dept">
  <option value="AS">Aero Space</option>
  <option value="BT">Bio Technology</option>
  <option value="CE">Chemical Engineering</option>
  <option value="CS">Computer Science</option>
  <option value="CV">Civil</option>
  <option value="ME">Mechanical</option>
  <option value="IS">Information Science</option>
  <option value="EC">Electonics and Communication</option>
  <option value="EE">Electrical and Electonics</option>
  <option value="MCA">Master in Computer Application</option>
  <option value="TE">Telecommunicaton Engineering</option>
</select>
  <input type="submit" name="submit" value="submit">

</form>
